@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
/* Reset CSS
* --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

.hidden {
  display: none;
}

.dont-show {
  width: 0;
  height: 0;
  overflow: hidden;
  position: relative;
  left: -9999px;
}

/*웹폰트(kopub체) */
@font-face {
  font-family: 'kopub';
  src: url("../font/KoPubDotumMedium.eot") format("embedded-opentype"), url("../font/KoPubDotumMedium.woff") format("woff");
}

@font-face {
  font-family: 'kopublight';
  src: url("../font/KoPubDotumLight.eot") format("embedded-opentype"), url("../font/KoPubDotumLight.woff") format("woff");
}

@font-face {
  font-family: 'kopubbold';
  src: url("../font/KoPubDotumBold.eot") format("embedded-opentype"), url("../font/KoPubDotumBold.woff") format("woff");
}

* {
  font-family: 'kopub';
}

body {
  font-family: 'kopub';
  width: 100%;
  height: 100%;
  background: url("/img/background/01_back.jpg");
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body.join {
  background: url("/img/background/02_back.jpg");
  background-size: cover;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body.social {
  background: url("/img/background/03_back.jpg");
  background-size: cover;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body.fixed {
  position: fixed;
}

body h1, body h2, body h3, body h4, body strong, body b {
  font-weight: normal;
}

img.icon {
  height: 20px;
  width: auto;
  position: relative;
  top: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  /* for vertical scrollbars */
  height: 5px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

div.join-form {
  width: 90%;
  max-width: 500px;
  height: 100%;
  max-height: 800px;
  box-sizing: border-box;
  margin: 5% auto;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

div.join-form:not(.enter) input[type="text"], div.join-form:not(.enter) input[type="email"], div.join-form:not(.enter) input[type="password"] {
  color: #ff627d;
  /* change [input cursor color] by this*/
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6);
  /* change [input font] by this*/
  -webkit-text-fill-color: transparent;
}

div.join-form.enter input[type="text"], div.join-form.enter input[type="email"], div.join-form.enter input[type="password"] {
  color: cyan;
  /* change [input cursor color] by this*/
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.6);
  /* change [input font] by this*/
  -webkit-text-fill-color: transparent;
}

div.join-form nav.join-nav li {
  width: 50%;
  float: left;
  text-align: center;
  padding: 15px 0;
  font-weight: normal;
  font-size: 15px;
}

div.join-form nav.join-nav li.enter {
  width: 33.333333333333333333333333%;
}

div.join-form nav.join-nav li:not(:last-child) a {
  border-right: 1px solid #aaa;
}

div.join-form nav.join-nav li a {
  color: #666;
  cursor: default;
  display: inline-block;
  width: 100%;
}

div.join-form nav.join-nav li.active a {
  color: #fff;
}

div.join-form form.join-form {
  clear: both;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

div.join-form div.step-wrap {
  width: 200%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

div.join-form div.step-wrap div.step {
  width: 50%;
  margin: 0;
  padding-top: 80px;
  float: left;
}

div.join-form div.group {
  width: 100%;
  padding: 20px 80px;
  box-sizing: border-box;
  clear: both;
}

@media (max-width: 500px) {
  div.join-form div.group {
    padding: 20px 30px;
  }
}

div.join-form div.group.button {
  padding-top: 0;
  margin: 50px 0;
  text-align: center;
}

div.join-form div.group.button input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 25px;
  background: none;
  font-size: 15px;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

div.join-form div.group.quick-join {
  padding-top: 0;
  height: 200px;
}

div.join-form div.group.quick-join ul {
  margin-top: 20px;
}

div.join-form div.group.quick-join li {
  float: left;
  width: 25%;
  text-align: center;
}

div.join-form div.group.quick-join li img {
  width: 50px;
}

div.join-form h2, div.join-form label.title {
  font-size: 23px;
  display: inline-block;
  margin: 30px 0 0 0;
  color: #fff;
  position: relative;
}

div.join-form h2 span.required, div.join-form label.title span.required {
  position: relative;
  top: -10px;
  left: 3px;
}

div.join-form h2 span.required img, div.join-form label.title span.required img {
  width: 12px;
  height: auto;
}

div.join-form h2:not(.inline), div.join-form label.title:not(.inline) {
  width: 100%;
}

div.join-form h2[for="user-team"], div.join-form label.title[for="user-team"] {
  width: 150px;
}

div.join-form h2[for="user-gender"], div.join-form label.title[for="user-gender"] {
  width: 70px;
}

div.join-form h2 span.error, div.join-form label.title span.error {
  position: absolute;
  right: 0;
  color: indianred;
}

div.join-form p.explanation {
  font-size: 15px;
  padding: 10px 0;
  opacity: 0.7;
  word-break: keep-all;
  line-height: 1.5;
}

div.form-group {
  position: relative;
  margin: 10px 0;
}

div.form-group label.icon {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}

div.form-group label.icon[for="user-email"] {
  margin-top: -5px;
}

div.form-group label.icon[for="user-name"] {
  margin-top: 38px;
}

div.form-group input:not([type="radio"]) {
  background: none;
  width: 100%;
  height: 40px;
  font-size: 15px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #fff;
  opacity: 0.8;
  outline: none;
  color: #fff;
}

div.form-group input:not([type="radio"]):not([type="file"]) {
  padding-left: 30px;
}

div.form-group input:not([type="radio"]).large-pad {
  padding-left: 50px;
}

div.form-group input:not([type="radio"]).no-pad {
  padding-left: 5px;
}

div.form-group input:not([type="radio"]).intro {
  padding-left: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 20px;
}

div.form-group input:not([type="radio"]).error {
  border-bottom: 1px solid indianred;
}

div.form-group select {
  width: 100%;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: none;
  opacity: 0.7;
  color: #fff;
  font-size: 15px;
  outline: none;
}

div.form-group select option {
  display: none;
  outline: none;
}

div.form-group select.active {
  border-radius: 20px 20px 0 0;
  background: rgba(50, 150, 200, 0.7);
}

div.form-group select[name="user-job"] {
  margin-top: 10px;
}

div.form-group select[name="social_select"] {
  display: block;
  width: 50%;
  margin-top: 20px;
}

div.form-group select[name="social_select"] ~ ul.select {
  width: 50%;
  margin-bottom: 20px;
}

div.form-group div.half {
  width: 49%;
  margin-top: 10px;
  float: left;
}

div.form-group div.half.left-mrg {
  margin-left: 2%;
}

div.form-group ul.select {
  background: none;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: -1px;
  border: 1px solid #aaa;
  border-radius: 0 0 20px 20px;
}

div.form-group ul.select li {
  color: #fff;
  opacity: 0.7;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
}

div.form-group ul.select li:not(:last-child) {
  border-bottom: 1px solid #fff;
}

div.form-group ul.select li:hover {
  background: rgba(255, 255, 255, 0.3);
}

div.form-group input[type="radio"]:empty ~ label, div.form-group input[name="cost-secret"]:empty ~ label, div.form-group input[name="agree"]:empty ~ label {
  cursor: pointer;
  position: relative;
  font-size: 17px;
  padding-left: 25px;
  margin: 5px;
  opacity: 0.7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.form-group input[type="radio"]:empty ~ label:before, div.form-group input[name="cost-secret"]:empty ~ label:before, div.form-group input[name="agree"]:empty ~ label:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 17px;
  height: 17px;
  background: url("/img/icon_check_box_pressed_off.png") no-repeat;
  background-size: cover;
}

div.form-group input[type="radio"]:checked ~ label, div.form-group input[name="cost-secret"]:checked ~ label, div.form-group input[name="agree"]:checked ~ label {
  opacity: 1.0;
}

div.form-group input[type="radio"]:checked ~ label:before, div.form-group input[name="cost-secret"]:checked ~ label:before, div.form-group input[name="agree"]:checked ~ label:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 17px;
  height: 17px;
  background: url("/img/icon_check_box_pressed_on.png") no-repeat;
  background-size: cover;
}

div.form-group input[type="radio"]:not(:checked) ~ label, div.form-group input[name="cost-secret"]:not(:checked) ~ label, div.form-group input[name="agree"]:not(:checked) ~ label {
  opacity: 0.7;
}

div.form-group input[type="radio"]:not(:checked) ~ label:before, div.form-group input[name="cost-secret"]:not(:checked) ~ label:before, div.form-group input[name="agree"]:not(:checked) ~ label:before {
  background: url("/img/icon_check_box_pressed_off.png") no-repeat;
  background-size: cover;
}

div.group a.add-items, div.group a.toggle-folder {
  opacity: 0.8;
  color: #fff;
}

div.group a.add-items img, div.group a.add-items i, div.group a.toggle-folder img, div.group a.toggle-folder i {
  margin-right: 5px;
}

div.group a.add-items:active, div.group a.toggle-folder:active {
  opacity: 1.0;
}

div.group div.preview-items {
  width: 100%;
  height: 140px;
  overflow: hidden;
  overflow-x: scroll;
}

div.group div.preview-items ul {
  width: 960px;
  height: 100%;
}

div.group div.preview-items ul.video {
  width: 320px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

div.group div.preview-items li {
  width: 150px;
  height: 100px;
  margin: 20px 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  float: left;
}

div.group div.preview-items li label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
}

div.group.quick-join li {
  float: left;
  text-align: center;
}

div.group.quick-join li img {
  width: 50px;
}

div.group.video {
  position: relative;
}

div.group.video div.bt-mrg {
  margin: 5px 0;
}

div.group.video div.bt-mrg:last-child {
  margin-bottom: 30px;
}

div.group.video input {
  width: 100%;
  padding: 0 50px 0 0;
  margin: 0;
}

div.group.video a.preview {
  display: inline-block;
  width: 25%;
  height: 30px;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 30px;
  opacity: 0.7;
  position: relative;
  top: 5px;
}

div.group.video a.add-items {
  position: absolute;
  right: 80px;
  bottom: 20px;
}

div.group.main-profile div.button {
  border: 1px solid #aaa;
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}

div.group.user input {
  padding-left: 60px;
}

div.group.location div.form-group:not(.half) {
  clear: both;
  padding: 10px 0;
}

div.group.location div.half {
  width: 49%;
  float: left;
}

div.group.location div.half:nth-child(2) {
  margin-right: 2%;
}

div.group.location label {
  opacity: 0.7;
  padding-left: 20px;
}

div.group.location select {
  margin-top: 10px;
}

div.group.career ul {
  height: 60px;
  margin-top: -1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  opacity: 0.7;
}

div.group.career ul li {
  width: 20%;
  height: 60px;
  padding: 10px 0;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

div.group.career ul li.active {
  color: cyan;
}

div.group.career ul li:not(.no-pointer) label:not(.strong) {
  cursor: pointer;
}

div.group.career ul li:not(.no-right) label {
  border-right: 1px solid #fff;
}

div.group.career ul li:not(.no-left) label {
  border-left: 1px solid #fff;
}

div.group.career ul li label {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  word-wrap: normal;
  font-size: 15px;
}

div.group.career ul li label.strong {
  font-weight: bold;
  font-size: 20px;
}

div.group.career ul li label.lhsmall {
  line-height: 20px;
}

div.group.cost label {
  margin-bottom: 15px;
}

div.group.cost p {
  text-align: center;
}

div.group.sns label.icon {
  position: absolute;
  margin-top: -9px;
}

div.group.sns label.icon span {
  font-size: 13px;
  position: relative;
  bottom: 2px;
  left: 3px;
  opacity: 0.7;
}

div.group.sns input[type="text"] {
  padding-right: 40px;
}

div.group.sns input[type="text"][name="social_instagram"] {
  padding-left: 198px;
}

div.group.sns input[type="text"][name="social_facebook"] {
  padding-left: 188px;
}

div.group.sns input[type="text"][name="social_blog"] {
  padding-left: 160px;
}

div.group.sns input[type="text"][name="social_twitter"] {
  padding-left: 145px;
}

div.group.sns input[type="text"][name="social_youtube"] {
  padding-left: 240px;
}

div.group.additional label.sub-title {
  opacity: 0.8;
  width: 100%;
  display: inline-block;
  margin: 5px;
  font-size: 17px;
  position: relative;
}

div.group.additional label.sub-title a.toggle-folder {
  position: absolute;
  right: 0;
}

div.group.additional textarea {
  margin: 20px 0;
  background: none;
  width: 100%;
  height: 130px;
  border-radius: 20px;
  border: 1px solid #fff;
  opacity: 0.7;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
}

div.group.additional table {
  opacity: 0.8;
  margin: 20px 0;
}

div.group.additional table th {
  margin: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

div.group.additional table input.intro {
  margin: 0;
}

div.group.additional table tr {
  margin-bottom: 2px;
}

div.group.additional table td {
  padding: 0 5px;
  box-sizing: border-box;
  height: 40px;
  text-align: right;
}

div.group.additional table td input {
  height: 35px;
}

div.group.additional table td.long {
  text-align: right;
}

div.group.additional table td a.delete {
  margin-left: 10px;
  color: #fff;
}

div.group.additional table td a.delete img {
  position: relative;
  top: 5px;
  width: auto;
  height: 20px;
  margin-right: 5px;
}

div.group.agree label {
  display: inline-block;
  width: 90%;
  height: 20px;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 50px;
  word-break: keep-all;
  margin-left: 10px;
}

div.group.agree label a {
  border-bottom: 1px solid #fff;
  padding-bottom: 1px;
  color: #fff;
  position: relative;
  top: -2px;
}

div.group.agree label span.error {
  margin-left: 20px;
  color: indianred;
}

div.group.agree input[type="checkbox"]:empty ~ label:before, div.group.agree input[type="checkbox"]:empty ~ label:before {
  top: 2px;
  left: -10px;
}

div.group span.left-mrg {
  margin-left: 20px;
}

div.group div.form-group > div {
  position: relative;
  margin: 5px 0;
}

div.group div.form-group > div a.delete {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 17px;
}

div.group div.form-group > div a.delete img {
  width: 100%;
  height: auto;
}

form[name="join-form"].complete div.complete-wrap {
  box-sizing: border-box;
  padding: 200px 80px;
  width: 100%;
  height: 100%;
  max-height: 800px;
  text-align: center;
  overflow-y: scroll;
}

form[name="join-form"].complete div.complete-wrap img {
  width: 65%;
  margin: 0 17.5%;
}

form[name="join-form"].complete div.complete-wrap p {
  font-size: 18px;
  text-align: center;
  margin: 80px 0;
}

form[name="join-form"].complete div.complete-wrap a.button {
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  opacity: 0.8;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 20px 0;
}

.section {
  background-size: cover;
  font-family: 'kopub';
  overflow: hidden;
}

.slide {
  background-size: cover;
  overflow: hidden;
}

#section_1 {
  background-image: url(../img/section_1.jpg);
}

#section_2 {
  background-image: url(../img/section_2.jpg);
}

#section_3 {
  background-image: url(../img/section_3.jpg);
}

#section_4 {
  background-image: url(../img/section_4.jpg);
}

#slide_1 {
  background-size: cover;
}

#slide_2 {
  background-size: cover;
}

#logo {
  position: fixed;
  left: 11%;
  top: 4%;
  width: 30%;
  height: 80px;
  z-index: 1000;
}

#logo img.logo1 {
  width: 80px;
  height: 80px;
}

#logo img.logo2 {
  width: 196px;
  height: 24px;
  margin-left: 15px;
  margin-bottom: 28px;
}

/*section_1*/
#section_1 .contents {
  width: 30%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.3);
  text-align: justify;
  color: #fff;
  font-family: 'kopub';
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 35px;
}

#section_1 .contents p {
  font-size: 18px;
  margin-bottom: 20px;
}

#section_1 .contents span {
  font-size: 35px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'kopub';
}

#section_1 .contents h1 {
  font-size: 27px;
  margin-bottom: 15px;
  color: #fff;
}

#section_1 .contents .btn {
  margin-top: 30px;
}

#section_1 .contents .btn a {
  width: 40%;
  height: auto;
  padding: 10px 25px;
  border-radius: 5px;
  display: block;
  background: #ff627d;
  text-align: center;
  color: #fff;
  font-family: 'kopub';
}

#section_1 .contents .btn a.profile {
  margin-top: 20px;
}

/*section_2*/
#section_2 .contents {
  width: 40%;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 50px 40px;
  color: #fff;
}

#section_2 .contents div h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #fff;
}

#section_2 .contents div p {
  font-size: 20px;
  line-height: 1.5;
  font-family: 'kopublight';
}

#section_2 .contents div.info_1, #section_2 .contents div.info_2 {
  margin-bottom: 40px;
}

/*section_3*/
/*slide_1*/
#section_3 #slide_1 {
  position: relative;
}

#section_3 #slide_1 .contents {
  width: 20%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
  border-radius: 10px;
  padding: 40px 40px;
  color: #fff;
}

#section_3 #slide_1 .contents h2, #section_3 #slide_2 .contents h2, #section_3 #slide_3 .contents h2, #section_3 #slide_4 .contents h2 {
  font-size: 27px;
  margin-bottom: 20px;
  font-family: 'kopubbold';
  color: #fff;
}

#section_3 #slide_1 .contents p, #section_3 #slide_2 .contents p, #section_3 #slide_3 .contents p, #section_3 #slide_4 .contents p {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'kopublight';
  text-align: justify;
}

#section_3 #slide_1 .img img, #section_3 #slide_2 .img img, #section_3 #slide_3 .img img, #section_3 #slide_4 .img img {
  height: 70%;
  position: absolute;
  right: 20%;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/*slide_2*/
#section_3 #slide_2 {
  position: relative;
}

#section_3 #slide_2 .contents {
  width: 20%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
  border-radius: 10px;
  padding: 40px 40px;
  color: #fff;
}

/*slide_3*/
#section_3 #slide_3 {
  position: relative;
}

#section_3 #slide_3 .contents {
  width: 20%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
  border-radius: 10px;
  padding: 40px 40px;
  color: #fff;
}

/*slide_4*/
#section_3 #slide_4 {
  position: relative;
}

#section_3 #slide_4 .contents {
  width: 20%;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
  -ms-transform: translate(-20%, -50%);
  transform: translate(-20%, -50%);
  border-radius: 10px;
  padding: 40px 40px;
  color: #fff;
}

/******************* section_4 *********************/
#section_4 .contents {
  width: 40%;
  height: auto;
  background: rgba(0, 0, 0, 0.7);
  /*border:1px solid #fff;*/
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 50px 0px;
  text-align: center;
  font-size: 15px;
}

#section_4 .contents p.info {
  font-size: 31px;
  margin-bottom: 30px;
  color: #fff;
}

#section_4 .contents a {
  margin: 0 auto;
  width: 70%;
  border: 1px solid #fff;
  padding: 7px 0px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 25px;
  color: #fff;
  font-size: 18px;
  /*vertical-align: middle;*/
}

#section_4 .contents a img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
}

#section_4 .contents p.mail {
  margin-top: 15px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 7px 0px;
  color: #fff;
}

#section_4 a.operate {
  margin-top: 20px;
  color: #fff;
}

/************************  반응형 1024 ***************************************/
@media screen and (max-width: 1024px) {
  #logo img.logo1 {
    width: 60px;
    height: 60px;
  }
  #logo img.logo2 {
    width: 196px;
    height: 24px;
    margin-left: 15px;
    margin-bottom: 19px;
  }
  /*section 1*/
  #section_1 .contents h1 {
    font-size: 25px;
  }
  #section_1 .contents p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  #section_1 .contents span {
    font-size: 25px;
  }
  #section_1 .contents .btn a {
    width: 90%;
  }
  /*section_2*/
  #section_2 .contents {
    width: 50%;
    padding: 50px 40px;
  }
  #section_2 .contents div h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #section_2 .contents div p {
    font-size: 16px;
  }
  #section_2 .contents div.info_1, #section_2 .contents div.info_2 {
    margin-bottom: 30px;
  }
  /*section_3*/
  /*slide_1*/
  #section_3 #slide_1 {
    position: relative;
  }
  #section_3 #slide_1 .contents {
    width: 40%;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    border-radius: 10px;
    padding: 40px 40px;
    color: #fff;
  }
  #section_3 #slide_1 .contents h2, #section_3 #slide_2 .contents h2, #section_3 #slide_3 .contents h2, #section_3 #slide_4 .contents h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
  }
  #section_3 #slide_1 .contents p, #section_3 #slide_2 .contents p, #section_3 #slide_3 .contents p, #section_3 #slide_4 .contents p {
    font-size: 17px;
    line-height: 1.5;
    font-family: 'kopublight';
  }
  #section_3 #slide_1 .img img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }
  /*slide_2*/
  #section_3 #slide_2 {
    position: relative;
  }
  #section_3 #slide_2 .contents {
    width: 40%;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    border-radius: 10px;
    padding: 40px 40px;
    color: #fff;
  }
  #section_3 #slide_2 .img img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }
  /*slide_3*/
  #section_3 #slide_3 {
    position: relative;
  }
  #section_3 #slide_3 .contents {
    width: 40%;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    border-radius: 10px;
    padding: 40px 40px;
    color: #fff;
  }
  #section_3 #slide_3 .img img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }
  /*slide_4*/
  #section_3 #slide_4 {
    position: relative;
  }
  #section_3 #slide_4 .contents {
    width: 40%;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    border-radius: 10px;
    padding: 40px 40px;
    color: #fff;
  }
  #section_3 #slide_4 .img img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }
  /******************* section_4 *********************/
  #section_4 .contents {
    width: 50%;
    height: auto;
  }
  #section_4 .contents p.info {
    font-size: 20px;
  }
  #section_4 .contents a {
    font-size: 12px;
  }
  #section_4 .contents p.mail {
    font-size: 12px;
    padding: 9px 0px;
  }
  #section_4 .contents a img {
    width: 16px;
    height: 16px;
  }
}

/************************  반응형 420 ***************************************/
@media screen and (max-width: 420px) {
  #logo {
    width: 60%;
  }
  #logo img.logo1 {
    width: 45px;
    height: 45px;
  }
  #logo img.logo2 {
    width: 121px;
    height: 15px;
    margin-bottom: 14px;
  }
  /*section_1*/
  #section_1 .contents {
    width: 60%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #section_1 .contents p {
    font-size: 12px;
  }
  #section_1 .contents span {
    font-size: 16px;
  }
  #section_1 .contents h1 {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 9px;
  }
  #section_1 .contents .btn a {
    font-size: 12px;
    padding: 8px 0px;
    width: 100%;
  }
  #section_1 .contents .btn {
    margin-top: 20px;
  }
  #section_1 .contents .btn a.profile {
    margin-top: 15px;
  }
  /*section_2*/
  #section_2 .contents {
    width: 50%;
    padding: 30px 20px;
  }
  #section_2 .contents div h2 {
    font-size: 13px;
    margin-bottom: 8px;
  }
  #section_2 .contents div p {
    font-size: 10px;
    text-align: justify;
  }
  #section_2 .contents div.info_1, #section_2 .contents div.info_2 {
    margin-bottom: 20px;
  }
  /*section_3*/
  /*slide_1*/
  #section_3 #slide_1 .contents {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    padding: 15px;
  }
  #section_3 #slide_1 .contents h2, #section_3 #slide_2 .contents h2, #section_3 #slide_3 .contents h2, #section_3 #slide_4 .contents h2 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  #section_3 #slide_1 .contents p, #section_3 #slide_2 .contents p, #section_3 #slide_3 .contents p, #section_3 #slide_4 .contents p {
    font-size: 10px;
  }
  #section_3 #slide_1 .img img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }
  /*slide_2*/
  #section_3 #slide_2 .contents {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    padding: 20px;
  }
  #section_3 #slide_2 .img img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }
  /*slide_3*/
  #section_3 #slide_3 .contents {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    padding: 20px;
  }
  #section_3 #slide_3 .img img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }
  /*slide_4*/
  #section_3 #slide_4 .contents {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    padding: 20px;
  }
  #section_3 #slide_4 .img img {
    height: 50%;
    position: absolute;
    left: 50%;
    top: 90%;
    -webkit-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
  }
  /******************* section_4 *********************/
  #section_4 .contents {
    width: 70%;
    height: auto;
    padding: 20px 10px;
  }
  #section_4 .contents p.info {
    font-size: 15px;
    margin-bottom: 15px;
  }
  #section_4 .contents a {
    font-size: 10px;
    width: 90%;
    margin-bottom: 15px;
  }
  #section_4 .contents p.mail {
    font-size: 5px;
    width: 90%;
    padding: 6px 0px;
  }
  #section_4 .contents a img {
    width: 12px;
    height: 12px;
  }
}

/************************  반응형 320 ***************************************/
@media screen and (max-width: 320px) {
  #logo img.logo2 {
    width: 99px;
    height: 12px;
    margin-bottom: 15px;
  }
  /*section_1*/
  #section_1 .contents p {
    font-size: 10px;
    margin-bottom: 15px;
  }
  #section_1 .contents span {
    font-size: 13px;
  }
  #section_1 .contents h1 {
    font-size: 12px;
    text-align: justify;
    line-height: 1.2;
    margin-bottom: 6px;
  }
  #section_1 .contents .btn a {
    font-size: 12px;
    padding: 8px 0px;
    width: 100%;
  }
  #section_1 .contents .btn {
    margin-top: 16px;
  }
  #section_1 .contents .btn a.profile {
    margin-top: 15px;
  }
  /*section_2*/
  #section_2 .contents div h2 {
    font-size: 12px;
  }
  /* section_4 */
  #section_4 .contents p.info {
    font-size: 12px;
  }
  #section_4 .contents a img {
    display: none;
  }
}

/*!
 * fullPage 2.9.2
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent;
}

#superContainer {
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}

.fp-section {
  height: 100%;
  position: relative;
  /* Safari<=5 Android<=3 */
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 30px;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 10px solid #fff;
  border-left: 10px solid #d4d4d4;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.fp-controlArrow.fp-next {
  right: 30px;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 10px solid #fff;
  border-right: 10px solid #d4d4d4;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/************************  반응형 420 ***************************************/
@media screen and (max-width: 420px) {
  .fp-controlArrow.fp-prev {
    /*left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;*/
    left: 20px;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 6px solid #fff;
    border-left: 6px solid #d4d4d4;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .fp-controlArrow.fp-next {
    right: 20px;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 6px solid #fff;
    border-right: 6px solid #d4d4d4;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.right {
  right: 17px;
}

#fp-nav.left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-slidesNav.bottom {
  bottom: 17px;
}

.fp-slidesNav.top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

/*# sourceMappingURL=app.css.map */
