div.join-form{
    width:90%;
    max-width:500px;
    height:100%;
    max-height:800px;
    box-sizing:border-box;
    margin:5% auto;
    background:rgba(0,0,0,0.7);
    color:#fff;
    transition:all 1s;
    &:not(.enter){
        input[type="text"], input[type="email"], input[type="password"]{
            color: #ff627d;  /* change [input cursor color] by this*/
            text-shadow: 0px 0px 0px rgba(255,255,255, 0.6); /* change [input font] by this*/
            -webkit-text-fill-color: transparent;
        }
    }
    &.enter{
        input[type="text"], input[type="email"], input[type="password"]{
            color: cyan;  /* change [input cursor color] by this*/
            text-shadow: 0px 0px 0px rgba(255,255,255, 0.6); /* change [input font] by this*/
            -webkit-text-fill-color: transparent;
        }
    }
    nav.join-nav{
        li{
            width:50%;
            float:left;
            text-align:center;
            padding:15px 0;
            font-weight:normal;
            font-size:15px;
            &.enter{
                width:33.333333333333333333333333%;
            }
            &:not(:last-child){
                a{
                    border-right:1px solid #aaa;
                }
            }
            a{
                color:#666;
                cursor:default;
                display:inline-block;
                width:100%;

            }
            &.active a{
                color:#fff;
            }
        }
    }
    form.join-form{
        clear:both;
        height:100%;
        overflow-x:hidden;
        overflow-y:scroll;
    }
    div.step-wrap{
        width:200%;
        margin:0;
        padding:0;
        position:relative;
        transition:all 1s;
        div.step{
            width:50%;
            margin:0;
            padding-top:80px;
            float:left;
        }
    }
    div.group{
        width:100%;
        padding:20px 80px;
        box-sizing:border-box;
        clear:both;
        @include respond-to('too-small'){
            padding:20px 30px;
        }
        &.button{
            padding-top:0;
            margin:50px 0;
            text-align:center;
            input[type="submit"]{
                width:100%;
                height:50px;
                border:1px solid #fff;
                border-radius:25px;
                background:none;
                font-size:15px;
                color:#fff;
                opacity:0.8;
                cursor:pointer;
            }
        }
        &.quick-join{
            padding-top:0;
            height:200px;
            ul{
                margin-top:20px;
            }
            li{
                float:left;
                width:25%;
                text-align:center;
                img{
                    width:50px;
                }
            }
        }
    }
    h2, label.title{
        font-size:23px;
        display:inline-block;
        margin:30px 0 0 0;
        color:#fff;
        position:relative;
        span.required{
            position:relative;
            top:-10px;
            left:3px;
            img{
                width:12px;
                height:auto;
            }
        }
        &:not(.inline){
            width:100%;
        }
        &[for="user-team"]{
            width:150px;
        }
        &[for="user-gender"]{
            width:70px;
        }
        span.error{
            position:absolute;
            right:0;
            color:indianred;
        }
    }
    p.explanation{
        font-size:15px;
        padding:10px 0;
        opacity:0.7;
        word-break:keep-all;
        line-height:1.5;
    }
}
div.form-group{
    position:relative;
    margin:10px 0;
    label.icon{
        position:absolute;
        top:50%;
        margin-top:-10px;
        &[for="user-email"]{
            margin-top:-5px;
        }
        &[for="user-name"]{
            margin-top:38px;
        }
    }
    input:not([type="radio"]){
        background:none;
        width:100%;
        height:40px;
        font-size:15px;
        box-sizing:border-box;
        border:none;
        border-bottom:1px solid #fff;
        opacity:0.8;
        outline:none;
        color:#fff;
        &:not([type="file"]){
            padding-left:30px;
        }
        &.large-pad{
            padding-left:50px;
        }
        &.no-pad{
            padding-left:5px;
        }
        &.intro{
            padding-left:20px;
            border:1px solid #fff;
            border-radius:20px;
            margin-top:20px;
        }
        &.error{
            border-bottom:1px solid indianred;
        }
    }
    select{
        width:100%;
        height:40px;
        line-height:40px;
        box-sizing:border-box;
        padding:0 20px;
        border:1px solid #fff;
        border-radius:20px;
        background:none;
        opacity:0.7;
        color:#fff;
        font-size:15px;
        outline:none;
        option{
            display:none;
            outline:none;
        }
        &.active{
            border-radius:20px 20px 0 0;
            background:rgba(50,150,200,0.7);
        }
        &[name="user-job"]{
            margin-top:10px;
        }
        &[name="social_select"]{
            display:block;
            width:50%;
            margin-top:20px;
            & ~ ul.select{
               width:50%; 
               margin-bottom:20px;
            }
        }
    }
    div.half{
        width:49%;
        margin-top:10px;
        float:left;
        &.left-mrg{
            margin-left:2%;
        }
    }
    ul.select{
        background:none;
        width:100%;
        box-sizing:border-box;
        overflow:hidden;
        margin-top:-1px;
        border:1px solid #aaa;
        border-radius:0 0 20px 20px;
        li{
            color:#fff;
            opacity:0.7;
            width:100%;
            height:40px;
            line-height:40px;
            padding:0 20px;
            box-sizing:border-box;
            cursor:pointer;
            &:not(:last-child){
                border-bottom:1px solid #fff;
            }
            &:hover{
                background:rgba(255,255,255,0.3);
            }
        }
    }
    input[type="radio"], input[name="cost-secret"], input[name="agree"]{
        &:empty~label{
            cursor:pointer;
            position:relative;
            font-size:17px;
            padding-left:25px;
            margin:5px;
            opacity:0.7;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:before{
                position:absolute;
                top:0;
                left:0;
                content:'';
                width:17px;
                height:17px;
                background:url('/img/icon_check_box_pressed_off.png') no-repeat;
                background-size:cover;
            }
        }
        &:checked~label{
            opacity:1.0;
            &:before{
                position:absolute;
                top:0;
                left:0;
                content:'';
                width:17px;
                height:17px;
                background:url('/img/icon_check_box_pressed_on.png') no-repeat;
                background-size:cover;
            }
        }
        &:not(:checked)~label{
            opacity:0.7;
            &:before{
                background:url('/img/icon_check_box_pressed_off.png') no-repeat;
                background-size:cover;
            }
        }
    }
}
div.group{
    a.add-items, a.toggle-folder{
        opacity:0.8;
        color:#fff;
        img, i{
            margin-right:5px;
        }
        &:active{
            opacity:1.0;
        }
    }
    div.preview-items{
        width:100%;
        height:140px;
        overflow:hidden;
        overflow-x:scroll;
        ul{
            width:960px;
            height:100%;
            &.video{
                width:320px;
                transition:all 1s;
            }
        }
        li{
            width:150px;
            height:100px;
            margin:20px 5px;
            box-sizing:border-box;
            border:1px solid #aaa;
            float:left;
            label{
                display:block;
                width:100%;
                height:100%;
                cursor:pointer;
                line-height:100px;
                text-align:center;
                font-size:25px;
            }
        }
    }
    &.quick-join{
        li{
            float:left;
            text-align:center;
            img{
                width:50px;
            }
        }
    }
    &.video{
        position:relative;
        div.bt-mrg{
            margin:5px 0;
            &:last-child{
                margin-bottom:30px;
            }
        }
        input{
            width:100%;
            padding:0 50px 0 0;
            margin:0;
        }
        a.preview{
            display:inline-block;
            width:25%;
            height:30px;
            box-sizing:border-box;
            color:#fff;
            font-size:15px;
            border-radius:15px;
            border:1px solid #fff;
            text-align:center;
            line-height:30px;
            opacity:0.7;
            position:relative;
            top:5px;
        }
        a.add-items{
            position:absolute;
            right:80px;
            bottom:20px;
        }
    }
    &.main-profile{
        div.button{
            border:1px solid #aaa;
            width:100%;
            height:200px;
            line-height:200px;
            text-align:center;
            cursor:pointer;
            margin:10px 0;
        }
    }
    &.user{
        input{
            padding-left:60px;
        }
    }
    &.location{
        div.form-group:not(.half){
            clear:both;
            padding:10px 0;
        }
        div.half{
            width:49%;
            float:left;
            &:nth-child(2){
                margin-right:2%;
            }
        }
        label{
            opacity:0.7;
            padding-left:20px;
        }
        select{
            margin-top:10px;
        }
    }
    &.career{
        ul{
            height:60px;
            margin-top:-1px;
            border-top:1px solid #fff;
            border-bottom:1px solid #fff;
            opacity:0.7;
            li{
                width:20%;
                height:60px;
                padding:10px 0;
                float:left;
                box-sizing:border-box;
                text-align:center;
                &.active{
                    color:cyan;
                }
                &:not(.no-pointer) label:not(.strong){
                    cursor:pointer;
                }
                &:not(.no-right) label{
                    border-right:1px solid #fff;
                };
                &:not(.no-left) label{
                    border-left:1px solid #fff;
                }
                label{
                    display:block;
                    width:100%;
                    height:40px;
                    line-height:40px;
                    word-wrap:normal;
                    font-size:15px;
                    &.strong{
                        font-weight:bold;
                        font-size:20px;
                    }
                    &.lhsmall{
                        line-height:20px;
                    }
                }
            }
        }
    }
    &.cost{        
        label{
            margin-bottom:15px;
        }
        p{
            text-align:center;
        }
    }
    &.sns{
        label.icon{
            position:absolute;
            margin-top:-9px;
            span{
                font-size: 13px;
                position: relative;
                bottom: 2px;
                left:3px;
                opacity:0.7;
            }
        }
        input[type="text"]{
            padding-right:40px;
            &[name="social_instagram"]{
                padding-left:198px;
            }
            &[name="social_facebook"]{
                padding-left:188px;
            }
            &[name="social_blog"]{
                padding-left:160px;
            }
            &[name="social_twitter"]{
                padding-left:145px;
            }
            &[name="social_youtube"]{
                padding-left:240px;
            }
        }
    }
    &.additional{
        label.sub-title{
            opacity:0.8;
            width:100%;
            display:inline-block;
            margin:5px;
            font-size:17px;
            position:relative;
            a.toggle-folder{
                position:absolute;
                right:0;
            }
        }
        textarea{
            margin:20px 0;
            background:none;
            width:100%;
            height:130px;
            border-radius:20px;
            border:1px solid #fff;
            opacity:0.7;
            color:#fff;
            padding:10px 20px;
            box-sizing:border-box;
        }
        table{
            opacity:0.8;
            margin:20px 0;
            th{
                margin:0;
                text-align:center;
                height:40px;
                line-height:40px;
            }
            input.intro{
                margin:0;
            }
            tr{
                margin-bottom:2px;
            }
            td{
                padding:0 5px;
                box-sizing:border-box;
                height:40px;
                text-align:right;
                input{
                    height:35px;
                }
                &.long{
                    text-align:right;
                }
                a.delete {
                    margin-left:10px;
                    color:#fff;
                    img{
                        position:relative;
                        top:5px;
                        width:auto;
                        height:20px;
                        margin-right:5px;
                    }   
                }                                
            }
        }
    }
    &.agree{
        label{
            display:inline-block;
            width:90%;
            height:20px;
            font-size:20px;
            line-height:1.5;
            padding-left:50px;
            word-break:keep-all;
            margin-left:10px;
            a{
                border-bottom:1px solid #fff;
                padding-bottom:1px;
                color:#fff;
                position:relative;
                top:-2px;
            }
            span.error{
                margin-left:20px;
                color:indianred;
            }
        }
        input[type="checkbox"]{
            &:empty~label, &:empty~label{
                &:before{
                    top:2px;
                    left:-10px;
                }
            }
        }
    }
    span.left-mrg{
        margin-left:20px;
    }
    div.form-group > div{
        position:relative;
        margin:5px 0;
        a.delete{
            position:absolute;
            top:10px;
            right:10px;
            width:17px;
            img{
                width:100%;
                height:auto;
            }
        }
    }
}

form[name="join-form"].complete{
    div.complete-wrap{
        box-sizing:border-box;
        padding:200px 80px;
        width:100%;
        height:100%;
        max-height:800px;
        text-align:center;
        overflow-y:scroll;
        img{
            width:65%;
            margin:0 17.5%;
        }
        p{
            font-size:18px;
            text-align:center;
            margin:80px 0;
        }
        a.button{
            font-size:18px;
            color:#fff;
            border:1px solid #fff;
            border-radius:30px;
            opacity:0.8;
            display:block;
            width:100%;
            height:60px;
            line-height:60px;
            margin:20px 0;
        }
    }
}